@import "./../Styles/Mixin.scss";
@import "./../Styles/Variable.scss";

.div-center {
    display: flex;
    justify-content: center;
}

.Feed-Card-Container {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.HeartAnimation {
    padding-top: 2em;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png');
    background-repeat: no-repeat;
    background-size: 2900%;
    background-position: left;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    cursor: pointer;
}

.animate {
    animation: heart-burst .8s steps(28) forwards;
}
.wrapper{
    // display: none;
}
@keyframes heart-burst {
    0% {
        background-position: left
    }

    100% {
        background-position: right
    }
}

.Feed-card-div {
    width: 100%;
    background: $bg-div;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    padding-bottom: 0.5rem;
    border: 1px solid $link;

    .Feed-Section-One {
        display: flex;
        align-items: center;
        padding: 1rem;

        .Feed-Profile-img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
            border: 1px solid $border-div;
        }

        .Feed-Profile-name {
            margin-left: 1rem;
            font-size: 14px;
        }

        .Feed-Profile-Option-Container {
            flex: 1;
            display: flex;
            justify-content: end;

            .Feed-Option-btn-div {
                width: 30px;
                height: 30px;
                background: #0a1929f5;
                padding: 0;
                // background: $btn;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $border-div;
            }
        }
    }

    .Feed-Section-Two {
        width: 100%;

        .Feed-Post-Text {
            font-size: 16px;
            padding: 0 1rem;
            line-height: 18px;
        }

        .Feed-Post-img-Container {
            display: flex;
            justify-content: center;

            .Feed-Post-img {
                width: 100%;
                max-height: 450px;
                object-fit: contain;
            }
        }

    }

    .Feed-Section-three {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0.5rem 0;
        padding: 0 1rem;

        .Feed-Comment-Section-div {
            border-radius: 50%;

            .feed-comment-section-inner {
                display: flex;
                align-items: center;
                position: relative;

                .like-count{
                    position: absolute;
                    left: 35px;
                }
            }

            .react-icons {
                font-size: 18px;
            }
        }
    }

    .Feed-Comment-Div {
        // height: 40px;
        display: flex;
        flex-direction: column;
        // align-items: center;
        padding: 0 1rem;

        .feed-comment-div-one {
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
        }

        .Feed-Comment-Input {
            flex-grow: 1;
            background: none;
            border: none;
            color: white;

            &:focus {
                outline: none;
            }
        }
    }
}

// ====================================
.see-com {
    font-size: 12px;
    margin-left: 1rem;
    color: #ffffff65;
    cursor: pointer;
}

.userComment-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background: $bg;

    .comment-div {
        display: flex;
    }

    .comments {
        font-size: 14px;
        margin-top: 0.5rem;
    }

    h5 {
        font-size: 14px;
    }

    .comment-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    .comment-name {
        font-size: 14px;
    }

    .close-btn-comment {
        flex: 1;
        display: flex;
        justify-content: end;
    }
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 0.5rem;
    display: none;
    position: absolute;
    left: -24px;
    border-radius: 0.3rem;
    // border: 1px solid $border-div;
    background-color: #0b243b65;
    // box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    // min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content a {
    color: $gray-500;
    font-size: 14px;
    padding: 2px 10px;
    text-decoration: none;
    display: block;

    &:hover {
        background: #0a1929;
    }
}

// .dropdown-content a:hover {
//     background-color: #f1f1f1
// }

.show {
    display: block;
}

.hide {
    display: none;
}