@import "./../../Styles/Mixin.scss";
@import "./../../Styles/Variable.scss";
@import "./../../Styles/Insta.scss";

.div-right{

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  2rem;
    position: sticky;
    top: 60px;
    height:calc(100vh - 60px) ;
}


@include insta-1160{
    .div-right{
        display: none !important;
    }
}