@import "./../../Styles/Mixin.scss";
@import "./../../Styles/Variable.scss";
@import "./../../Styles/Insta.scss";

.div-right {
<<<<<<< HEAD
=======

>>>>>>> de4cc00f3462f5e042bd3a1556cba3692eb502a0
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
<<<<<<< HEAD

    .Data-div {
        // background: blue;
        max-height: 400px;
        overflow-y: scroll;
    }

    .right-bottom-div {
        width: 300px;
        height: auto;
        margin: 0.5rem 0rem;
        padding-right: 0.5rem;
        // background: red;
        border-top: 1px solid #ccc;

        .online-titl-div {
            display: flex;
            padding-top: 1rem;

            .online-icon {
                font-size: 18px;
                color: #3ADF00;
            }

        }

        .online-user-div {
            display: flex;
            width: 100%;
            align-items: center;
            margin: 1rem 0;
            cursor: pointer;

            .online-user-name {
                margin-left:1rem ;
                text-transform: capitalize;
            }
        }

    }

}

.online-icon {
    font-size: 18px;
    color: #3ADF00;
}

.online-icon-red {
    font-size: 18px;
    color: #B40404;
=======
>>>>>>> de4cc00f3462f5e042bd3a1556cba3692eb502a0
}

@include insta-1160 {
    .div-right {
        display: none !important;
    }
}

<<<<<<< HEAD
.scrollable-container {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    /* Adjust as per your styling needs */
}

/* Hide the scroll bar for webkit-based browsers (Chrome, Safari) */
.scrollable-container::-webkit-scrollbar {
    width: 6px;
    /* Adjust as per your styling needs */
    background-color: transparent;
    /* Adjust as per your styling needs */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Adjust as per your styling needs */
}

=======
>>>>>>> de4cc00f3462f5e042bd3a1556cba3692eb502a0
//=================================================

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.Overlay-Div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .overlay-Card {
        flex-basis: 500px;
        background: $bg-div;
        // padding-bottom: 1rem;
        border-radius: 0.5rem;
        border: 1px solid $link;
        overflow: hidden;

        .firest-section-edit {
            display: flex;
            justify-content: end;
            // padding:0;

            .x-btn {
                background: $bg;
                border: 1px solid $link;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px;
                border-radius: 50%;
            }
        }

        .second-section-edit {
            display: flex;
            justify-content: center;

            .edit-input {
                width: 80%;
                height: 35px;
                border-radius: 1.5rem;
                padding-inline-start: 1rem;
                background: $bg;
                color: white;
                border: none;

                &:focus {
                    outline: none;
                }
            }
        }

        .thurd-section-edit {
            margin: 1rem 0;
            display: flex;
            justify-content: center;

            .postImg {
                width: 100%;
                max-height: 400px;
                object-fit: contain;
                cursor: pointer;
            }
        }

        .forth-section-edit {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;

            .btn-success {
                text-transform: capitalize;
                padding: 5px;
                font-size: 14px;
                // margin: 0 1rem;
            }
        }

    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



.overlay-set-photos {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 1.5rem;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent;
    cursor: pointer;
    margin-top: 0.5rem;

    &:hover {
        background-color: $bg;
        border: 1px solid $link;

        .photo-img {

            animation-name: spin;
            animation-duration: 6s;
            /* Duration of the animation */
            animation-iteration-count: infinite;
            /* Repeat the animation infinitely */
            animation-timing-function: linear;
            /* Linear timing */
        }
    }
}

.Option-DropDown-Btn {
    width: 30px;
    height: 30px;
    background: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0px;
    border: 1px solid $link;

    &:hover {
        background: $bg;
        border: 1px solid $link;
    }
}



.dropdown {
    position: relative;
}



.dropdown-options {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    position: absolute;
    top: 35px;
    left: -20px;
    padding: 0px;
    background-color: $bg;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    list-style: none;
    overflow: hidden;
}

.li {
    // padding: 2px;
    font-size: 14px;
    cursor: pointer;
    // margin:0 7px;
    padding: 2px 8px;
    width: 100%;
    background: $bg-div;
}

.li:hover {
    background-color: $bg;
}